<!--        hx-target="#products_list"-->
<!--        hx-swap="beforeend"-->
<!--        hx-swap="none"-->
<!--        hx-on::after-request="if (event.detail.successful) this.reset()"-->
<!--        <label for="product_name">Name</label>-->
<!--        <input-->
<!--                type="text"-->
<!--                id="product_name"-->
<!--                name="product_name"-->
<!--                value="{{ product_name }}"-->
<!--                required-->
<!--        >-->
<!--        <label for="product_price">Price</label>-->
<!--        <input-->
<!--                type="number"-->
<!--                id="product_price"-->
<!--                name="product_price"-->
<!--                value="{{ product_price }}"-->
<!--                min="1"-->
<!--                max="100000"-->
<!--                required-->
<!--        >-->
<!--        % if form.errors %-->
<!--          <div style="color: red;">{{ error }}</div>-->
<!--        % endif %-->
<!--        <button type="submit">add</button>-->

{% from 'macros/errors_list.html' import errors_list %}

<form
        id="create_product"
        hx-post="{{ url_for('products_app.create') }}"
        hx-swap="outerHTML"
    >
    {% include 'products/components/form_body.html' %}
    {{ form.submit }}
</form>